code/out
.vs
.vscode

.idea
code/code_craft.exe
code/code_craft.ilk
code/code_craft.pdb
replay
code/code_craft.exe
code/code_craft.ilk
code/code_craft.pdb
resources
华为软挑初赛
resources/log/code_craft.log
.gitignore